@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h4>Transient</h4>
Id1: @ViewBag.Id1 <br />

Id2: @ViewBag.Id2

<h4>Scoped</h4>
Id3: @ViewBag.Id3
<br />
Id4: @ViewBag.Id4


